node_modules
coverage
.nyc_output
.DS_Store
*.log
.idea
docs
compiled
.awcache
.cache
.rpt2_cache
browsertest.html
dist

website/.cache 
website/node_modules
website/pre-dist
website/dist
website/package-lock.json
